@import url('https://fonts.googleapis.com/css?family=Poppins:,200,300,400,500,600,700,800,900&display=swap');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 130vh;
}

.container {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 95%;
  min-height: 1500px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1); 
}

.container .left_Side {
  position: relative;
  background-color: #003147;
  padding: 40px;
}

.container .right_Side {
  position: relative;
  background-color: white;
  padding: 20px;
}


.container .right_Side .title {
  font-size: 35px;
  font-weight: 600;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
}

.container .right_Side .subtitle {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: italic;
}


.container .right_Side .section {
  padding: 20px 0;
  margin-left: 50px;
  display: block;
}

.container .right_Side .section .container1 {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.container .right_Side .section .container1 .iconHug {
  flex: auto;
  width: 25%;
  max-width: 50px;
  border: 2px solid #808080;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.container .right_Side .section .container1 .items {
  flex: auto;
  padding-right: 30px;
}



.container .right_Side .section .horizonLine {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
}

.container .right_Side .section .horizonLine:after {
  content: "";
  flex: auto;
  background: #8b8b8b;
  height: 1px;
  margin: auto;
  margin-left: 20px;
}

.container .right_Side .section .container1 .items .item {
  margin: 20px 0;
}

.container .right_Side .section .container1 .items .item .entity .what {
  font-size: 18px;
  font-weight: 600;
}

.container .right_Side .section .container1 .items .item .entity .where {
  font-size: 15px;
  font-weight: 400;
}

.container .right_Side .section .container1 .items .item .entity {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.container .right_Side .section .container1 .items .item .entity .where .when {
  font-size: 13px;
  opacity: 0.6;
}

.container .right_Side .section .container1 .items .item .desc {
  font-style: italic;
  font-weight: 400;
  margin-top: 10px;
}

.container .right_Side .section .container1 .items .item .entity img {
  height: 50px;
  border-radius: 30%;
  margin: 0 10px;
}

.container .right_Side .section .container1 .items .item .desc1 {
  font-style: italic;
  font-weight: 300;
  margin-top: 10px;
  font-size: 15px;
}

.container .right_Side .section .container1 .items .item .desc2 {
  font-style: normal;
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
}
.container .right_Side .section .container1 .items .item .desc3 {
  font-style: normal;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
}

.container .right_Side .section .container1 .items .item .desc4 {
  font-style: normal;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


.videoContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.videoContainer video {
  position: relative;
  max-width: 90%;
  outline: none;
}

@media (max-width: 991px) 
{
  .videoContainer video
  {
    max-width: 100%;
  }
}

.videoContainer.active {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer;
  max-width: 32px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid white;
}

.profileText h3 {
  display: block;
  color: white;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.profileText i {
  font-style: italic;
  color: white;
  font-weight: 300;
}

.contactInfo .LinkedInDetail {
  padding: 10px 0;
  display: block;
}

.contactInfo .LinkedInDetail .icon a {
  text-align: center;
  display: block;
  color: white;
  font-size: 35px;
}

.contactInfo .LinkedInDetail .Text a {
  text-align: center;
  color: white;
  display: block;
  font-size: 15px;
}

.contactInfo .EmailDetail {
  padding: 10px 0;
  display: block;
}

.contactInfo .EmailDetail .icon a {
  text-align: center;
  display: block;
  color: white;
  font-size: 35px;
}

.contactInfo .EmailDetail .Text a {
  text-align: center;
  color: white;
  display: block;
  font-size: 15px;
}

.contactInfo .WebsiteDetail {
  padding: 10px 0;
  display: block;
}

.contactInfo .WebsiteDetail .icon a {
  text-align: center;
  display: block;
  color: white;
  font-size: 35px;
}

.contactInfo .WebsiteDetail .Text a {
  text-align: center;
  color: white;
  display: block;
  font-size: 15px;
}

.contactInfo .GithubDetail {
  padding: 10px 0;
  display: block;
}

.contactInfo .GithubDetail .icon a {
  text-align: center;
  display: block;
  color: white;
  font-size: 35px;
}

.contactInfo .GithubDetail .Text a {
  text-align: center;
  color: white;
  display: block;
  font-size: 15px;
}

.contactInfo .LocationDetail {
  padding: 10px 0;
  display: block;
}

.contactInfo .LocationDetail .icon i {
  text-align: center;
  display: block;
  color: white;
  font-size: 35px;
}

.contactInfo .LocationDetail .Text {
  text-align: center;
  color: white;
  display: block;
  font-size: 15px;
}