@import url('https://fonts.googleapis.com/css?family=Poppins:,200,300,400,500,600,700,800,900&display=swap');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 95%;
  min-height: 1200px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  
}

.container .left_Side {
  position: relative;
  background-color: #003147;
  padding: 40px;
}

.container .right_Side {
  position: relative;
  background-color: white;
  padding: 40px;
}

.ProfilePicture {
  background-image: url(https://github.com/lazarospapanikolaou/resume.github.io/blob/main/images/IMG_20211031_145612_966.jpg);
}