@import url('https://fonts.googleapis.com/css?family=Poppins:,200,300,400,500,600,700,800,900&display=swap');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 95%;
  min-height: 1200px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  
}

.container .left_Side {
  position: relative;
  background-color: #003147;
  padding: 40px;
}

.container .right_Side {
  position: relative;
  background-color: white;
  padding: 40px;
}

.container .right_Side .title {
  font-size: 35px;
  font-weight: 600;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
}

.container .right_Side .subtitle {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: italic;
}

.container .right_Side .section {
  padding: 30px 0;
  margin-left: 50px;
}

.container .right_Side .section .horizonLine {
  width: 100%;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.container .right_Side .section .horizonLine::after {
  content: "";
  flex:auto;
  background-color: black;
  height: 1px;
  margin: auto;
  margin-left: 20px;
}
